@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
  --colours: #323B4C;
  --bg: #F5F5F5;
  --secondary_colours: #FEFEFE;
}

html{
	font-family: 'Montserrat', serif;
	background-color: var(--secondary_colours);
}
img{
	max-width: 150px;
	border: 2px solid green;
}
.flexbox{
	width:80%;
	margin: 1%;
	display: flex;
	flex-direction: row;
}
.leftside{
	text-shadow: 1px 1px #31393C;
	color: var(--secondary_colours);
	padding: 10px 50px 0px 10px;
	border: 1px solid #31393C;
	border-right: 0px;
	background-color: var(--colours);
	display: flex;
	flex-direction: column;
	width: 30%;	
}
#leftphoto{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: auto;
	width: 111%;
	margin: 5%;
}
.righttext{
	margin: 1% 3%;
}
.lefttext{
	margin: 5%;
}
.rightside{
	width: 90%;
	display: flex;
	flex-direction: column;
	border: 1px solid #353c31;
	background-color: var(--bg);
}
.colorful{
	text-shadow: 1px 1px #31393C;
	color: var(--colours);
}