@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
  --colours: #323B4C;
  --bg: #F5F5F5;
  --secondary_colours: #FEFEFE;
}

input{
	width: 100%;
	border: 1px solid #31393C;
}

input:hover{
	cursor: pointer;
}
button{
	font-family: 'Montserrat', serif!important;
	background-color: var(--colours)!important;
	color: var(--secondary_colours)!important;
	width:100%!important;
	border: 1px solid #31393C!important;
}

button:hover{
	cursor: pointer;
}
button:active {
	transform: scale(0.95, 0.9);
}
.buttons{
	margin-top: -19.1337px;
	margin-left: 3px;
}
a{
	color: var(--secondary_colours);
}

html{
	font-family: 'Montserrat', serif;
	background-color: var(--secondary_colours);
}
img{
	width: 130%;
	max-width: 150px;
	border: 2px solid green;
}
.flexbox{
	width:80%;
	margin-top: 1.337%;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}
.leftside{
	text-shadow: 1px 1px #31393C;
	color: var(--secondary_colours);
	padding: 10px 50px 0px 10px;
	border: 1px solid #31393C;
	border-right: 0px;
	background-color: var(--colours);
	display: flex;
	flex-direction: column;
	width: 30%;	
}
#leftphoto{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: auto;
	width: 111%;
	margin: 5%;
}
.righttext{
	margin: 1% 3%;
}
.lefttext{
	margin: 5%;
	margin-right: -15%;
}
.rightside{
	padding-left: 10px;
	padding-right: 20px;
	width: 90%;
	display: flex;
	flex-direction: column;
	border: 1px solid #353c31;
	background-color: var(--bg);
}
.colorful{
	text-shadow: 1px 1px #31393C;
	color: var(--colours);
}
.ctext{
	display: flex; 
	word-break: break-all;
	margin-right: 5%;
}
.htext{
	margin-right:5%;
}
.icons{
	float: left; margin-right: 3%; margin-top: 2px;
}
@media (max-width: 555px) {
	.flexbox{
		width:100%;
		margin-top: 1.337%;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.leftside{
		width: 90%!important;
		padding: 0px 20px 0px 10px!important;
		border-right: 1px solid #353c31!important;
	}
	.ctext{
		margin-right: 20%;
	}
	.htext{
		margin-right: 20%;
	}
	.buttons{
		margin-top:-13.37px;
		margin-left: auto;
		margin-right: auto;
		width:33%;
	}
}